<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Examly</title>
    <script type="module" src="http://127.0.0.1:5173/@vite/client"></script>
    <script type="module" src="http://127.0.0.1:5173/ts/main.ts"></script>
    <link rel="icon" href="http://127.0.0.1:5173/images/AppLogo.svg" type="image/svg+xml">
</head>
<body class="antialiased bg-obscure-800 text-white">
<div id="app"></div>
</body>
</html>